<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>miServlet.control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlBus</servlet-name>
        <servlet-class>miServlet.controlBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlChofer</servlet-name>
        <servlet-class>miServlet.controlChofer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlHotel</servlet-name>
        <servlet-class>miServlet.controlHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlDestino</servlet-name>
        <servlet-class>miServlet.controlDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlGuia</servlet-name>
        <servlet-class>miServlet.controlGuia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCliente</servlet-name>
        <servlet-class>miServlet.controlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlServicio</servlet-name>
        <servlet-class>miServlet.controlServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlTour</servlet-name>
        <servlet-class>miServlet.controlTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlUsuarios</servlet-name>
        <servlet-class>miServlet.controlUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlLogin</servlet-name>
        <servlet-class>miServlet.controlLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlBus</servlet-name>
        <url-pattern>/controlBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlChofer</servlet-name>
        <url-pattern>/controlChofer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlHotel</servlet-name>
        <url-pattern>/controlHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlDestino</servlet-name>
        <url-pattern>/controlDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlGuia</servlet-name>
        <url-pattern>/controlGuia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCliente</servlet-name>
        <url-pattern>/controlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlServicio</servlet-name>
        <url-pattern>/controlServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlTour</servlet-name>
        <url-pattern>/controlTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlUsuarios</servlet-name>
        <url-pattern>/controlUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlLogin</servlet-name>
        <url-pattern>/controlLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
